@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:600|Russo+One&display=swap");

.App {
  text-align: center;
  height: 100%;
}

.App::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.App::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.App::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: "Open Sans", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  text-decoration: none !important;
  color: inherit;
}

svg {
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.input-row {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  font-size: 24px;
}

.input-row input {
  color: #fff;
  text-align: center;
  background: 0;
  border-radius: 7px;
  border-style: 18px inset #d2e3ed;
  border-width: 2px;
  border-color: #fff;
  height: 25px;
  /* opacity: 0.7; */
}

.about-input-row {
  color: #fff;
  text-align: center;
  background: 0;
  border-radius: 7px;
  border-style: 18px inset #d2e3ed;
  border-width: 2px;
  border-color: #fff;
  height: 25px;
}

.task-update-input {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 17px;
  text-align: center;
}

.task-update-input input {
  text-align: center;
  background: 0;
  border: none;
  outline: none;
  width: 100%;
}

/* .input-row input {
  text-align: center;
  font-size: 30px;
  background: 0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fff;
  color: #ffff;
  font-weight: 500;
  margin-top: 37px;
  padding: 7px;
  width: 100%;
  transition: border-color 0.2s ease;
  border-radius: 5px;
} */

.noPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  color: #fff;
  font-size: 50px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  margin-top: 100px;
}

.dash-display-container {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  height: 100%;
  position: sticky;
  top: 1rem;
  animation: fadein 1s;
}

.navbar {
  display: flex;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0.5rem;
  z-index: 1;
  height: 50px;
  width: 100%;
  opacity: 1;
  margin-bottom: 1rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* position: sticky;
  top: 0; */
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header i {
  margin-right: 13px;
  font-size: 27px;
  cursor: pointer;
}

.nav-link-container {
  width: 270px;
}

.nav-link-container i {
  font-size: 15px;
}

.nav-link {
  color: white;
  opacity: 1;
  /* margin-left: 10px; */
  transition: transform 0.2s;
}

.nav-link:hover {
  transform: scale(1.5);
}

.nav-background {
  /* background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(190, 190, 196)
  ); */
  color: #ffff;
}
/* Side Drawer */
.side-drawer {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 1)
  );
  height: 100%;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  width: 70%;
  max-width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  border-right: solid 2px #ccc;
  border-left: solid 2px #ccc;
}
.side-drawer.open {
  transform: translateX(0);
}

.drawer-header {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.drawer-header h1 {
  margin-bottom: 10px;
}
.side-drawer ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-drawer li {
  margin: 0.5rem 0;
}
.side-drawer-link-container {
  /* background: rgba(0, 0, 0, 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.link-container:hover {
  /* background-image: radial-gradient(rgb(7, 78, 231), rgb(89, 0, 255), black); */
  animation: fadein 0.5s;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.1),
    rgba(93, 82, 82, 0.514)
  );
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}

.account-details-container {
  max-height: 100% !important;
  /* display: flex;
  flex: wrap; */
}

.account-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 65vh;
}
.account-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  /* align-items: space-evenly; */
}
.stat-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 20vw;
  text-align: center;
  margin-top: 10px;
  padding: 0.5px 10px 0.5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}

.stat-container h3 {
  margin-right: 10px;
}

.stat-container:hover {
  transform: scale(1.1);
}

.account-image {
  padding: 15px 0px 20px 0px;
  /* border-radius: 200px; */
  /* background: rgba(192, 192, 192, 0.1); */
  border-bottom: 2px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
}
.account-image img {
  border-radius: 85px;
  border: 2px solid #fff;
  width: 175px;
  height: 175px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.acc-details {
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
}
.acc-detail-container {
}
.acc-detail-admin {
  border: 2px solid #fff;
  border-radius: 10px;
  width: 45%;
  cursor: pointer;
  transition: 0.2s;
}
.acc-detail-admin:hover {
  transform: scale(1.1);
}

.admin-view-entry {
  background: rgba(192, 192, 192, 0.1);
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  width: 30vw;
  height: 60vh;
  border-radius: 50px;
  border: 1px solid #ccc;
  margin: 0px 10px 0px 10px;
}
.signup-header {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.weather-time-container {
  /* padding: 10px 20px 0px 20px; */
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 1px;
  transition: 0.2s;
}

.weather-time-container:hover {
  transform: scale(1.05);
}

#date-header {
  /* font-size: 25px; */
  text-decoration: underline;
  color: #ffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: 0.4s;
}
#date-header:hover {
  transform: scale(1.2);
}

.weather-widget {
  margin: 10px 10px 0px 0px;
  flex-direction: column;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
  padding-top: 5px;
  /* position: sticky;
  top: 0; */
}

.weather-widget i {
  font-size: 23.5px;
  margin-right: 3px;
}

#date-div {
  /* font-family: "Lobster", cursive; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-bottom: 15px; */
  /* position: sticky;
  top: 0px; */
}

#hour-greeting {
  color: #ffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 50vw;
  height: 50px;
  font-size: 30px;
  transition: 2s;
  cursor: pointer;
}
#hour-greeting:hover {
  transform: scale(1.1);
}

#live-clock {
  display: flex;
  justify-content: center;
  font-size: 85px;
  /* font-weight: 500; */
  color: #fff;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  cursor: pointer;
  transition: 3s;
}
#live-clock:hover {
  transform: scale(1.1);
}
.btn {
  padding: 4px 8px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  margin: 0px 10px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.normal-btn {
  /* font-family: "Russo One", sans-serif;
  border: thin;
  border-style: solid; */
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  border: 2px solid #fff;
  width: 200px;
  height: 35px;
  opacity: 1;
  border-radius: 5px;
  color: #fff;
  background: 0;
  cursor: pointer;
}

.warning-btn {
  background-color: red;
  padding: 5px 5px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
  transition: transform 0.2s;
}

.warning-btn:hover {
  transform: scale(1.2);
}

.account-info-container {
  margin-top: 85px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: fadein 2s;
}

.account-details-container {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 17px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  scrollbar-width: 70%;
  overflow: auto;
}

.account-details-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  /* background-color: #f5f5f5; */
}

.account-details-container::-webkit-scrollbar {
  width: 1px;
  /* background-color: #f5f5f5; */
}

.account-details-container::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.1);
  border-radius: 25px;
  border: 2px solid #ccc;
}

.posts-content-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  /* background-color: #f5f5f5; */
}

.posts-content-container::-webkit-scrollbar {
  width: 5px;
  /* background-color: #f5f5f5; */
}

.posts-content-container::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.1);
  border-radius: 25px;
  border: 2px solid #ccc;
}

.account-image-preview {
  padding: 15px 0px 5px 0px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 100%;
  background: rgba(192, 192, 192, 0.1);
  border: 1px solid #ccc;
  height: 85%;
  width: 25vw;
  transition: 0.7s;
}

.account-image-preview:hover {
  transform: scale(1.1);
}

.account-image-preview img {
  border-radius: 125px;
  border: 2px solid #fff;
  width: 13vw;
  height: 26vh;
  margin-top: 10px;
  margin-bottom: 15px;
  transform: scale(1.02);
  transition: 0.5s;
}

.account-image-preview img:hover {
  transform: scale(1.05);
}

.username-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-username-link {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 15vh;
  /* border: 2px solid #ccc; */
  border-radius: 10px;
  /* border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc; */
}

.account-input-row {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 10px 0px;
  font-size: 24px;
}

.account-input-row input {
  color: #fff;
  text-align: center;
  background: 0;
  border: none;
  outline: none;
  border-radius: 4px;
  border-bottom: 2px solid #fff;
  height: 25px;
  transition: 0.2s;
}
.account-input-row input:hover {
  transform: scale(1.1);
}

ul {
  list-style-type: none;
}

.list-header {
  width: 100%;
  color: white;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.input-enter {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.input-enter-btn {
  padding-top: 20px;
  font-size: 25px;
  border: 0;
  width: 10%;
  height: 100%;
  opacity: 0.7;
  border-radius: 5px;
  color: #fff;
  background: 0;
  cursor: pointer;
  margin: auto;
}

.input-enter-btn:hover {
  opacity: 1;
}

.input-enter-btn:active {
  color: yellowgreen;
}
.about-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #fff;
  align-items: space-evenly;
  margin-top: 100px;
  animation: fadein 2s;
}

.about-style h1 {
  margin-bottom: 45px;
}

.list-style {
  width: 100%;
  color: #fff;
  align-items: space-evenly;
  margin-top: 100px;
  position: sticky;
  top: 0px;
}
.imageStep-style {
  width: 100%;
  color: #fff;
  align-items: space-evenly;
  margin-top: 30px;
  position: sticky;
  top: 0px;
  animation: fadein 3s;
}

.entryStep-style {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: sticky;
  top: 0px;
  animation: fadein 1s;
}

.posted-style {
  width: 100%;
  color: #fff;
  opacity: 0.8;
  align-items: space-evenly;
  margin-top: 100px;
  position: sticky;
  top: 0px;
  animation: fadein 1s;
  transition: 1s;
}
.posted-style:hover {
  opacity: 1;
  transform: scale(1.17);
}

.posted-message {
  margin-top: 20px;
  margin-bottom: 25px;
  transition: fadein 5s;
}

.posted-button-container {
  color: #ffff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
  right: 0;
  margin-top: 50px;
  border-radius: 10px;
}

.public-posts-master {
  /* width: 65vh; */
  max-height: 42vh;
  max-width: 85vw;
  display: flex;
  overflow: auto;
}
.private-posts-master {
  height: 135%;
  display: flex;
  transition: 0.2s;
}
.private-posts-master:hover {
}
#exit-posts-view {
  font-size: 20px;
  border-radius: 10px;
}
#exit-posts-view i {
  cursor: pointer;
  background: rgba(93, 82, 82, 0.514);
  padding: 6px;
  border-radius: 40px;
  border: 2px solid #fff;
  margin-bottom: 5px;
}
.public-posts-master::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  /* background-color: #f5f5f5; */
}

.public-posts-master::-webkit-scrollbar {
  width: 1px;
  /* background-color: #f5f5f5; */
}

.public-posts-master::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.1);
  border-radius: 25px;
  border: 2px solid #ccc;
}
.step2-list-style {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: space-evenly;
  margin-top: 0;
  position: sticky;
  top: 0px;
}

.prompt-user {
  margin-top: 10px;
  margin-bottom: 25px;
  transition: top 0.5s;
}

.image-method-container {
  padding-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.entry-image-method-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gif-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 50px;
  cursor: pointer;
}
.entry-edit-gif-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 35px;
  height: 50px;
  cursor: pointer;
}

.entry-edit-url-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.gif-icon button, .entry-edit-gif-icon button {
  color: #fff;
  border: solid 2px #fff;
  outline: none;
  background: none;
  padding: 2px;
  border-radius: 5px;
}

.gif-icon img, .entry-edit-gif-icon img {
  min-width: 35px !important;
  max-height: 35px !important;
  border: none !important;
}

.url-search {
  display: flex;
  justify-content: center;
}

.url-search input {
  background-color: white;
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
  color: #555;
  font-family: Arial;
  font-size: 1em;
  line-height: 1.3;
  overflow: visible;
  padding: 0.25em 0.5em;
  width: 100%;
  border-radius: 10px;
}
.url-search p {
  margin-right: 10px;
}
.url-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.mood-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  width: 40px;
  height: 37px;
  cursor: pointer;
  margin: 1px 3px 1px 3px;
}

.entries-mood-container {
  background: rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: scale(1.02);
  font-size: 15px !important;
}
.public-entries-mood-container {
  background: rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: scale(1.02);
  font-size: 15px !important;
}
.public-mood-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* width: 40px;
  height: 37px; */
  cursor: pointer;
  margin: 1px 3px 1px 3px;
}
.selected {
  color: yellowgreen;
}
#list-item {
  /* font-family: "Russo One", sans-serif; */
  /* border: 2px solid #fff; */
  background-color: rgba(93, 82, 82, 0.514);
  border-radius: 20px;
  color: #ffff;
  font-size: 20px;
  margin-top: 15px;
}

ul {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: green; */
  /* transition:  */
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  width: 450px;
  margin-top: 10px;
  padding: 0.5px 10px 0.5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  /* background-color: rgba(93, 82, 82, 0.514); */
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}

.preview-task-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 280px;
  text-align: center;
  margin-top: 10px;
  padding: 0.5px 10px 0.5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  /* background-color: rgba(93, 82, 82, 0.514); */
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}

.public-task-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  padding: 1px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  min-width: 185px;
}
.public-task-item:hover {
  transform: scale(1.05);
}

.preview-task-item:hover {
  transform: scale(1.15);
}

.task-item:hover {
  transform: scale(1.1);
}

.task-check {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #fff;
  padding-right: 10px;
}
.task-check button:hover {
  color: yellowgreen;
  transform: scale(1.1);
}
.task-checked-false {
  font-size: 25px;
  color: #fff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
}
.task-checked-true {
  font-size: 25px;
  color: yellowgreen;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
}
.task-item-del {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border-left: 2px solid #fff;
}

.task-item-del button {
  color: #fff;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 20px;
}

.task-item-del button:hover {
  color: red;
}

.step-1-save {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-btn {
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  border: 2px solid #fff;
  width: 25%;
  height: 35px;
  opacity: 1;
  border-radius: 5px;
  color: #fff;
  background: 0;
  cursor: pointer;
}

.view-post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Russo One", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  border: 2px solid #fff;
  width: 40%;
  height: 35px;
  opacity: 1;
  border-radius: 5px;
  color: #fff;
  background: 0;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px 10px 0px 10px;
}
.view-post-btn:hover {
  transform: scale(1.2);
}
.wrapper {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.check-box {
  background: 0;
}

input[type="checkbox"] {
  transform: scale(2.5);
  background: 0;
  border: 0;
}

/* #check-box input[type="checkbox"]:disabled {
  opacity: 0.5;
} */
input [type="checkbox"]:checked:before {
  background: yellow;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  text-decoration-color: #fff;
}

::placeholder {
  color: #ffff;
  opacity: 1;
}

.input-goals {
  text-align: center;
  font-size: 30px;
  background: 0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fff;
  color: #ffff;
  font-weight: 500;
  padding: 7px;
  width: 200%;
  transition: border-color 0.2s ease;
  border-radius: 5px;
  transition-duration: 500ms;
}
.input-goals:hover {
  width: 400%;
}
.step2-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.uploader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-header {
  font-size: 17px;
}
.uploader-container img {
  border-radius: 7px;
  border: 2px solid #fff;
  height: 25vh;
  width: 25vw;
  min-width: 200px;
}

.upload-img-preview img {
  border-radius: 10px;
  border: 2px solid #fff;
  height: 250px;
  max-width: 75%;
  min-width: 200px;
}

.upload-img-preview {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 550px;
  max-width: 600px;
  height: 415px;
  max-height: 430px;
  border: 2px solid #ccc;
}

.mood-picker-container {
  margin-top: 2px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(192, 192, 192, 0.1);
  border-radius: 20px;
  border: 1px solid #fff;
}

.uploader-container p {
  color: #fff;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

.image-of-day-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-of-day-container img {
  width: 80%;
  margin-bottom: 5px;
}

#input-thoughts {
  background: 0;
  outline: 0;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 37px;
  padding: 10px;
  min-height: 175px;
  /* min-width: 175px; */
  font-size: 25px;
  word-wrap: normal;
  word-break: keep-all;
  border-radius: 5px;
}

.about-input-thoughts {
  background: 0;
  outline: 0;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  min-height: 175px;
  width: 30vw;
  font-size: 20px;
  word-wrap: normal;
  word-break: keep-all;
  border-radius: 5px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
}
.quote-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 80vw;
  transition: 0.3s;
  /* position: flex;
  bottom: 0; */
}
.quote-container:hover {
  transform: scale(1.009);
}

#random-quote {
  /* margin-top: 37px; */
  /* font-family: "Lobster", cursive; */
  font-size: 19px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 10px;
}
#quote-credit {
  /* font-family: "Lobster", cursive;/ */
  font-size: 17px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#about-hr {
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

#vid-box {
  margin-top: 20px;
}

.about-info-container {
  margin-top: 85px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: fadein 2s;
}

.about-details-container {
  width: 60vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-style {
  margin-top: 15px;
  font-size: 21px;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

.about-style2 {
  text-shadow: 0 0 3px black, 0 0 5px black;
  width: 80%;
}

#version {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Preview Entries */

.entry-container-preview {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 60vw;
}
.entry-container-preview h3 {
  margin-top: 5px;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.entry-container-preview hr {
  margin-top: 2px;
}

.post-container {
  width: 100%;
}
.public-post-container {
  max-height: 42vh;
}

.fa-edit {
  font-size: 15px;
  opacity: 0.3;
  cursor: pointer;
}

.fa-edit:hover {
  opacity: 1;
}

.entry-upload-img-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 500px;
  height: 300px;
  max-height: 450px;
}

.entry-upload-img-preview img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #fff;

  height: 100%;
}

.post-titles-header {
  display: flex !important;
  justify-content: center;
}
.save-delete-container {
  display: flex;
  justify-content: space-evenly;
}
.image-tasks-container {
  min-width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  padding-bottom: 10px;
  max-height: 350px;
}
#image-of-day {
}

.image-select-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.image-select-container img {
  border-radius: 7px;
  border: 2px solid #fff;
  height: 20vh;
  width: 20vw;
  min-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#image-of-day img {
  border-radius: 7px;
  border: 2px solid #fff;
  height: 20vh;
  width: 20vw;
  min-width: 200px;
  margin-top: 10px;
  transition: transform 0.5s;
}
#public-image-of-day img {
  border-radius: 7px;
  border: 2px solid #fff;
  height: 125px;
  width: 175px;
  margin-top: 10px;
  transition: transform 0.5s;
}

#image-of-day img:hover {
  transform: scale(1.07);
}

#entry-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72vh;
  width: 69vw;
  /* background-color: rgba(93, 82, 82, 0.514); */
  background: rgba(0, 0, 0, 0.45);
  /* background: none; */
  border-radius: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 10px;
  /* padding: 25px; */
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.hideMe {
  animation: hideMe 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes hideMe {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.66;
  }
  30% {
    opacity: 0.33;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0.33;
  }
  85% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}

.public-entry-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(93, 82, 82, 0.514); */
  background: rgba(0, 0, 0, 0.45);
  /* background: none; */
  border-radius: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 10px;
  /* padding: 25px; */
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  transition: 0.5s;
}

.private-entry-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  /* border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; */
  border: 1px solid #ccc;
  border-radius: 10px;
  /* padding: 25px; */
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  transition: 0.3s;
}
.private-entry-preview:hover {
  transform: scale(1.02);
  background: black;
  z-index: 1;
}
#entry-preview h2 {
}

#entry-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  padding: 5px 25px 5px 25px;
}
#public-entry-date {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  padding: 5px 25px 5px 25px;
}

.img-username-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  font-size: 15px;
  margin-right: 10px;
}
.img-username-div img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 3px;
}

#completed-task-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 25px;
}

#completed-task-preview-editing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 25px;
}

#completed-task-list-preview {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 80%;
  color: #fff;
  /* border: 2px solid #fff; */
  /* border-radius: 10px; */
  width: 90%;
  /* background: url(http://mcgrow.co/wp-content/uploads/2018/12/template-free-scroll-background-specialization-c-function-old-paper-parchment.jpg) */
  /* no-repeat center fixed; */
}

.task li {
  width: 200px;
  margin: 5px;
}
.task-number-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: yellowgreen;
  border-right: 2px solid #fff;
  padding: 0px 10px 0px 10px;
}
.task {
  display: flex;
  background-color: rgba(93, 82, 82, 0.514);
  border: 2px solid #fff;
  border-radius: 5px;
}

.task2 {
  display: flex;
  /* justify-content: center; */
  /* align-items: space-evenly; */
}
.task3 {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}
.task4 {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}
.task5 {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}

#completed-tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* border-bottom: 2px solid #fff; */
  border-radius: 10px;
}
#completed-tasks-header i {
  /* margin: 0 50px 0 50px; */
}

#entry-of-day-preview {
  min-width: 80%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  max-height: 45%;
}

#entry-of-day-header-preview {
}

#entry-of-day-text-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  min-height: 100px;
  text-align: justify;
  max-height: 20%;
  word-wrap: normal;
  word-break: keep-all;
  /* box-shadow: 3px 2px 2px 3px #ccc; */
  /* border-bottom: 1px solid #ccc; */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  overflow-x: hidden;
}
#public-entry-of-day-text-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  min-height: 100px;
  width: 100%;
  text-align: justify;
  max-height: 15px;
  word-wrap: normal;
  word-break: keep-all;
  /* box-shadow: 3px 2px 2px 3px #ccc; */
  /* border-bottom: 1px solid #ccc; */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  overflow-x: hidden;
}

#entry-of-day-text-preview::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#entry-of-day-text-preview::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#entry-of-day-text-preview::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}
#public-entry-of-day-text-preview::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#public-entry-of-day-text-preview::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#public-entry-of-day-text-preview::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

#editing-entry-of-day-text-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  /* padding: 10px; */
  min-width: 50%;
  /* width: 80%; */
  text-align: justify;
  max-height: 20%;
  word-wrap: normal;
  word-break: keep-all;
  /* box-shadow: 3px 2px 2px 3px #ccc; */
  /* border-bottom: 2px solid #fff; */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  overflow-x: hidden;
}

/* Entries Section */

.entry-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

#entryMain {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  box-sizing: border-box;
  border-radius: 15px;
  width: 80vw;
  height: 65vh;
  margin-top: 20px;
  padding: 20px 150px 50px 150px;
  background: white;
  color: black;
  border-radius: 25px;
}

#dateTime {
  font-size: 20px;
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: space-between;
}

#accTask {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#entryTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#addThoughts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#addThotHeader {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addThoughtsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  height: 25vh;
  width: 80vh;
  background-image: linear-gradient(to bottom, rgb(89, 0, 255), black);
  color: white;
  border-radius: 10px;
}

.prompt-buttons {
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 7px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.prompt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Russo One", sans-serif;
  font-size: 13px;
  border: 2px solid #ccc;
  width: 25%;
  height: 30px;
  opacity: 1;
  border-radius: 5px;
  color: #fff;
  background: 0;
  cursor: pointer;
}

.prompt-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row {
  color: #ffff;
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  margin-top: 50px;
  /* border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; */
  border: 2px solid #fff;
  border-radius: 10px;
}

.entry-button-row {
  color: #ffff;
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: space-evenly;
  /* left: 0;
  right: 0; */
  margin-top: 50px;
  border: 2px solid #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

/* .middle-buttons {
 display: flex;
  align-items: center;
  justify-content: space-evenly;

}  */

.edit-middle-buttons {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #ffff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* left: 0;
  right: 0; */
  /* border: 2px solid #fff; */
  border-radius: 10px;
  margin-bottom: 5px;
}
.edit-all-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  margin-left: 12px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.buttons {
  background: transparent;
  color: #ffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 125px;
  font-size: 20px;
  border-radius: 7px;
  margin: 5px;
}

.nextPrev {
  font-family: "Lobster", cursive;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.entries-display-container {
  height: 80vh;
  animation: fadein 1s;
  /* background-color: green;-pr */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/** React Tenor **/

.tenor-search {
  width: 100%;
  max-height: 200px;
}

.react-tenor {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 550px !important;
  width: 550px;
}

.react-tenor-active {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100% !important;
  max-height: 250px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.react-tenor--search-bar {
  position: relative;
  border-radius: 10px;
}

.react-tenor--search {
  background-color: white;
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
  color: #555;
  font-family: Arial;
  font-size: 1em;
  line-height: 1.3;
  overflow: visible;
  padding: 0.25em 0.5em;
  width: 100% !important;
  border-radius: 10px;
}

.react-tenor--search:focus {
  box-shadow: 0 0 2px 2px #6a89af;
  outline: none;
}

.react-tenor--autocomplete {
  box-sizing: border-box;
  color: #aaa;
  font-family: Arial;
  font-size: 1em;
  line-height: 1.3;
  left: 0;
  padding: 0.25em 0.5em;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.react-tenor--autocomplete span {
  visibility: hidden;
}

.react-tenor--spinner {
  animation: react-tenor-spin 1s linear infinite;
  height: 22px;
  position: absolute;
  right: 4px;
  top: 3px;
  width: 22px;
}

.react-tenor--spinner path {
  fill: #999;
}

.react-tenor--suggestions {
  overflow-x: auto;
  padding: 0.5em 0.5em;
  white-space: nowrap;
  background: black;
  border-right: solid 2px #fff;
  border-left: solid 2px #fff;
}

.react-tenor--suggestions button {
  background: none !important;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding: 3px 5px;
}

.react-tenor--suggestions button:focus {
  box-shadow: 0 0 2px 2px #6a89af;
  outline: none;
}

.react-tenor--suggestions button + button {
  margin-left: 0.8em;
}

.react-tenor--results {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  height: 250px !important;
  max-height: 250px !important;
  background: black !important;
  border: 2px solid #fff;
}

.react-tenor--result {
  background: black !important;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15) 15px,
    transparent 0,
    transparent 30px
  ) !important;
  border: 0;
  cursor: pointer;
  display: inline-block;
  flex-basis: 25%;
  height: 82px !important;
  opacity: 1;
  padding: 0;
  transition: opacity 0.3s;
  max-width: 145px;
}

.react-tenor--result span {
  animation: react-tenor-fade-in 0.2s;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.react-tenor--result:focus {
  box-shadow: 0 0 2px 2px #6a89af;
  border: 1px solid #f7f7f7;
  outline: none;
  z-index: 1;
}

.react-tenor--result:hover {
  opacity: 0.5;
}

/* @media screen and (max-width: 480px) {
  .react-tenor--result {
    flex-basis: 33%;
  }
} */

.react-tenor--page-left,
.react-tenor--page-right {
  background: silver !important;
  border: 0;
  height: 1.8em;
  position: absolute;
  top: calc(50% - 0.9em);
  opacity: 0.5;
  position: absolute;
  transition: opacity 0.2s, left 0.2s, right 0.2s;
  width: 1.8em;
  z-index: -1;
}

.react-tenor--page-left {
  margin-left: 25px;
}
.react-tenor--page-right {
  margin-right: 25px;
}

.react-tenor--results:hover .react-tenor--page-left,
.react-tenor--results:hover .react-tenor--page-right {
  opacity: 1;
  z-index: 1;
}

.react-tenor--results:hover .react-tenor--page-left {
  left: -1em;
}

.react-tenor--results:hover .react-tenor--page-right {
  right: -1em;
}

.react-tenor--page-left div,
.react-tenor--page-right div {
  background: inherit;
  height: 1.6em;
  transform: rotate(45deg);
  top: 0.1em;
  position: absolute;
  width: 1.6em;
}

.react-tenor--page-left {
  left: -0.3em;
}

.react-tenor--page-left div {
  left: -0.7em;
}

.react-tenor--page-right {
  right: -0.3em;
}

.react-tenor--page-right div {
  right: -0.7em;
}

@keyframes react-tenor-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-tenor-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* React Quill */

.quill-container {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  min-height: 300px;
  border-radius: 10px;
}

.edit-entry-quill-container {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  overflow: auto;
}

.edit-entry-quill-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.edit-entry-quill-container::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.edit-entry-quill-container::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.ql-editor {
  min-width: 700px;
  max-width: 700px;
  min-height: 260px;
  max-height: 260px;
  text-align: center !important;
  /* box-shadow: 3px 3px 3px 3px #ccc; */
}

.ql-editor p {
  font-size: 19px;
}

/* .ql-active{
color :#FFF !important;
} */
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #fff !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #fff !important;
}

.ql-editor::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.ql-editor::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ql-editor::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.ql-toolbar {
  border-radius: 7px;
}

.ql-formats {
  color: #fff;
}

.ql-picker-options {
  background: rgba(0, 0, 0, 0.5) !important;
}

.ql-snow .ql-picker {
  color: #fff !important;
}
.view-post-btn {
  margin-top: 5px;
}

.globe-container {
  margin-right: 70px;
}
/* MEDIA QUERIES */

@media (max-width: 800px) {
  /* footer{
   height: 475px;
  } */
  .acc-section img {
    margin-top: 30px;
    width: 12vw !important;
    height: 10vh !important;
    border-radius: 50px !important;
  }
  .quote-container {
    font-size: 10px;
  }
  .quote-container p {
    font-size: 10px;
  }
  #quote-credit {
    font-size: 10px;
  }
  .date-div {
    width: 35vw;
  }
  #live-clock {
    font-size: 50px;
    width: 100px;
  }
  #hour-greeting {
    width: 235px;
    font-size: 17px;
  }
  .dash-display-container {
    width: 100%;
  }
  .side-drawer.open {
    width: 100%;
    max-width: 100%;
    background: black;
  }
  .side-drawer-link-container {
    height: 65%;
  }
  .entryStep-style {
  }
  .navbar {
    font-size: 8px;
    padding: 0.3rem 0.5rem;
    height: 30px;
    width: 100%;
  }
  .nav-header i {
    font-size: 15px;
    margin-right: 5px;
  }
  .nav-link-container {
    width: 100px;
  }
  #date-header {
    /* width: 100%; */
    margin-right: 30px;
  }
  .weather-time-container {
    /* width: 50px; */
  }
  .list-header {
    font-size: 12px;
  }
  .weather-widget {
    font-size: 10px;
  }
  .weather-widget i {
    font-size: 10px;
  }
  .task-item {
    font-size: 15px;
    width: 275px;
  }
  .entries-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #completed-task-preview {
    max-width: 200px;
    margin-left: 0;
  }
  #completed-task-preview-editing {
    max-width: 200px;
    margin-left: 0;
  }
  .preview-task-item {
    font-size: 14px;
    max-width: 175px;
  }
  #entry-of-day-text-preview {
    max-width: 600px;
  }
  #editing-entry-of-day-text-preview {
    max-width: 600px;
  }
  #entry-preview {
    min-width: 98vw;
  }
  .entry-upload-img-preview {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 350px;
    height: 375px;
    max-height: 450px;
    margin-top: 75px;
  }
  .quill-container {
    border: 1px solid #ccc;
  }

  .ql-editor {
    box-shadow: 0px 0px 0px 0px #ccc;
  }

  .edit-entry-quill-container {
    max-width: 100%;
  }
  .ql-container.ql-snow,
  .ql-toolbar {
    border: none !important;
  }
  .entry-container-preview {
    width: 90vw;
  }
  #entry-preview {
    /* height: 100%; */
    max-height: 90%;
    width: 100%;
    overflow: auto;
  }
  .image-tasks-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  #image-of-day {
    margin-bottom: 30px;
  }
  #image-of-day img {
    max-height: 30%;
    width: 225px;
  }
  .about-details-container {
    width: 90vw;
  }
  .account-details-container {
    width: 90vw;
  }
  .about-contact-container {
    width: 90vw;
  }
  .account-image-preview {
    width: 325px;
    height: 67% !important;
  }

  .account-stats {
    width: 200px;
    height: 70%;
    align-items: center;
    justify-content: center;
  }
  .stat-container {
    margin-top: 30px;
    font-size: 10px;
    width: 200px;
  }

  .entry-button-row {
    width: 70vw;
  }
}
@media (max-width: 730) {
  footer {
    position: sticky;
    bottom: 0;
  }
}

@media (max-width: 1024px) {
  /* footer{
   height: 475px;
  } */
  .quote-container {
    font-size: 10px;
  }
  .quote-container p {
    font-size: 16px;
  }
  #quote-credit {
    font-size: 20px;
  }
  .date-div {
    width: 20vw;
  }
  #live-clock {
    font-size: 50px;
    width: 100px;
  }
  #hour-greeting {
    width: 235px;
    font-size: 17px;
  }
  .dash-display-container {
    width: 100%;
  }
  .side-drawer.open {
    width: 100%;
    max-width: 100%;
    background: black;
  }
  .side-drawer-link-container {
    height: 65%;
  }
  .entryStep-style {
  }
  .navbar {
    font-size: 12px;
    padding: 0.3rem 0.5rem;
    height: 30px;
    width: 100%;
  }
  .nav-header i {
    font-size: 15px;
    margin-right: 5px;
  }
  .nav-link-container {
    width: 100px;
  }
  #date-header {
    /* width: 100%; */
    margin-right: 95px;
  }
  .weather-time-container {
    /* width: 50px; */
  }
  .list-header {
    font-size: 12px;
  }
  .weather-widget {
    font-size: 10px;
  }
  .weather-widget i {
    font-size: 10px;
  }
  .task-item {
    font-size: 15px;
    width: 275px;
  }
  .entries-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .globe-container {
    margin-right: 80px;
  }
  #completed-task-preview {
    max-width: 200px;
    margin-left: 0;
  }
  #completed-task-preview-editing {
    max-width: 200px;
    margin-left: 0;
  }
  .preview-task-item {
    font-size: 14px;
    max-width: 175px;
  }
  #entry-of-day-text-preview {
    max-width: 600px;
  }
  #editing-entry-of-day-text-preview {
    max-width: 600px;
  }
  .entry-upload-img-preview {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 350px;
    height: 375px;
    max-height: 450px;
    margin-top: 75px;
  }
  .quill-container {
    border: 1px solid #ccc;
  }

  .ql-editor {
    box-shadow: 0px 0px 0px 0px #ccc;
  }

  .edit-entry-quill-container {
    max-width: 100%;
  }
  .ql-container.ql-snow,
  .ql-toolbar {
    border: none !important;
  }
  .entry-container-preview {
    width: 90vw;
  }
  #entry-preview {
    /* height: 100%; */
    max-height: 90%;
    width: 100%;
    overflow: auto;
  }
  .image-tasks-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  #image-of-day {
    margin-bottom: 10px;
  }
  .about-details-container {
    width: 90vw;
  }
  .account-details-container {
    width: 90vw;
  }
  .about-contact-container {
    width: 90vw;
  }
  .account-image-preview {
    width: 325px;
    height: 75%;
  }
  .account-image-preview img {
    width: 50%;
    height: 100px;
    border-radius: 35px;
  }

  .account-stats {
    width: 200px;
    align-items: center;
  }
  .stat-container {
    font-size: 10px;
    width: 200px;
  }

  .entry-button-row {
    width: 70vw;
  }
}

/*Toasitfy*/
.dark-toast {
  background: rgba(0, 0, 0, 0.5);
}
